ESB/water_quality/src/main/app/geoserver-image-mosaic-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<http:request-config name="HTTP_Geoserver_Request" host="${geoserver.host}" port="${geoserver.port}" basePath="${geoserver.basepath}" doc:name="HTTP Request Configuration">
        <http:basic-authentication username="${geoserver.usr}" password="${geoserver.pwd}"/>
    </http:request-config>
    
<flow name="geoserverImageMosaicFlow" doc:description="{
	url = &quot;/tmp/test&quot;,
	coveragestoreName = &quot;coveragestoreTest&quot;,
	workspaceName = &quot;wsTest&quot;
}

java.util.Map" processingStrategy="synchronous">
        <logger message="Started Geoserver" level="INFO" doc:name="Started Geoserver"/>
        <set-variable variableName="workspaceName" value="#[payload.get(&quot;workspaceName&quot;)]" doc:name="workspaceName"/>
        <set-variable variableName="url" value="#[payload.get(&quot;url&quot;)]" doc:name="url"/>
        <set-variable variableName="coveragestoreName" value="#[payload.get(&quot;coveragestoreName&quot;)]" doc:name="coveragestoreName"/>

        <set-payload value="#[url]" doc:name="Update Image Mosaic"/>
        <logger message="Update Image Mosaic request, sending #[payload] to http://${geoserver.host}:${geoserver.port}/${geoserver.basepath}workspaces/#[workspaceName]/coveragestores/#[coveragestoreName]/external.imagemosaic" level="INFO" doc:name="Update Image Mosaic"/>
        <message-properties-transformer doc:name="Add Content-Type Header" >
            <add-message-property key="content-type" value="text/plain"/>
        </message-properties-transformer>
        <http:request config-ref="HTTP_Geoserver_Request" path="workspaces/#[workspaceName]/coveragestores/#[coveragestoreName]/external.imagemosaic" method="POST" doc:name="Update Image Mosaic">
        </http:request>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger message="Update Image Mosaic: (#[message.inboundProperties[&quot;http.status&quot;]]) #[payload]" level="INFO" doc:name="Update Image Mosaic END"/>

    </flow>
    
 </mule>