ESB/water_quality/src/main/app/test-geoserver-image-mosaic-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="test-geoserver-image-mosaic-flowFlow">
        <http:inbound-endpoint exchange-pattern="one-way" host="localhost" port="8081" doc:name="HTTP"/>
        <logger message="Start Image Mosaic Flow" level="INFO" doc:name="Geoserver Image Mosaic Flow Start"/>
        <set-payload value="#[new java.util.HashMap()]" doc:name="Set Payload"/>
        <expression-component doc:name="Expression"><![CDATA[payload.put("url", "file:///var/lib/tomcat7/webapps/geoserver/data/data/pkh108_SAIMON/WT/HE_WT_mean_20121021.tif");
payload.put("coveragestoreName", "WT");
payload.put("workspaceName", "pkh108_SAIMON");]]></expression-component>
        <flow-ref name="geoserverImageMosaicFlow" doc:name="geoserverImageMosaicFlow"/>
    </flow>
</mule>
